.main-container h1 {
    color: white;
    text-align: center;
}

.highlight {
    color: #6b3f88;
}

.main-container p {
    color: #a9a7be;
    text-align: center;
    padding: 0px 56px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-container h2 {
    color: white;
}

.footer-container span {
    color: #a9a7be;
}

@media (max-width: 420px) {
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px auto;
        width: 90%;
        height: 80vh;
        border-radius: 20px;
        background-color: #1c1938;
    }

    .header-container img {
        width: 100%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .main-container h1 {
        padding: 0 20px;
        line-height: 32px;
    }

    .footer-container h2 {
        color: white;
        margin-bottom: 0;
    }

}